<div class="centergal">
  <div style="margin-top:100px;" class="heading-about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="wow bounceInDown" data-wow-delay="0.4s">
            <div class="section-heading">
              <h2>Boxers</h2>
              <i class="fa fa-2x fa-angle-down"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="big" class= "center">
    <img src="<%= images.first.file_url %>" width="130" />
  </div>
  <div style="margin-top:10px;" id="miniaturas">
    <% images[1..-1].each do |image| %>
      <img src="<%= image.file_url %>" width="130" />
    <% end %>
  </div>
</div>

<!-- </section> -->

<!-- tabla -->
<section id="venta" class="home-section text-center">
  <div class="heading-about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="wow bounceInDown" data-wow-delay="0.4s">
            <div class="section-heading">
              <h2>Tabla de Talles</h2>
              <i class="fa fa-2x fa-angle-down"></i>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">

    <div class="row">
      <div class="col-lg-2 col-lg-offset-5">

      </div>
    </div>
    <div class="table-responsive col-lg-4 col-lg-offset-4">
      <table class="table">

        <tbody style="text-align: center;">
          <tr>
            <td>Talle S</td>
            <td>Talle Americano 38-40</td>		
          </tr>
          <tr>
            <td>Talle M</td>
            <td>Talle Americano 41-42</td>		
          </tr>
          <tr>
            <td>Talle L</td>
            <td>Talle Americano 43-44</td>		
          </tr>
          <tr>
            <td>Talle XL</td>
            <td>Talle Americano 45-46</td>		
          </tr>
        </tbody>
      </table>
    </div>
</section>
